.env
.envrc
.direnv/
*.egg-info/
.vscode/
.devcontainer/

.coverage
*.h5m
*.msh
*.e
*.nc
*.vtk
*.mesh
*.sol
*.step
*.stp
*.stl
*.brep
*.xml
*.out
*.h5
build/
dist/
README_files/
README.html
__pycache__/

!tests/data/*.msh

