.env
.envrc
.direnv/
typings/
*.egg-info/
.vscode/
.devcontainer/
scratch/
docs/_build
docs/**/generated

.coverage
*.h5m
*.msh
*.e
*.exo
*.nc
*.vtk
*.mesh
*.sol
*.step
*.stp
*.stl
*.brep
*.xml
*.out
*.h5
build/
dist/
README_files/
README.html
__pycache__/
*.Identifier

!tests/resources/*.brep
!tests/resources/*.msh

# pixi environments
.pixi/*
!.pixi/config.toml
