[workspace]
authors = ["akoen <git@koen.ca>"]
channels = ["conda-forge"]
name = "stellarmesh"
platforms = ["linux-64"]


[dependencies]
python = ">=3.11"
python-gmsh = ">=4"
ocp = ">=7.7.2.1"
moab = "*"

[pypi-dependencies]
stellarmesh = { path = ".", editable = true }
stubgen-pyx = ">=0.1.4, <0.2"

[feature.docs.pypi-dependencies]
sphinx-github-style = ">=1.2.2, <2"
sphinx-autobuild = ">=2025.8.25, <2026"
shibuya = ">=2025.8.16, <2026"
sphinx-tabs = ">=3.4.7, <4"

[feature.docs.dependencies]
sphinx = ">=8.3.0,<9"
nbsphinx = ">=0.9.7,<0.10"

[feature.cadquery.pypi-dependencies]
# Current CadQuery release depends on incompatible OCP. Still works with Stellarmesh
# but not in same env as build123d.
cadquery = { git = "https://github.com/CadQuery/cadquery", rev = "d33816099adbc88" }

[feature.cadquery.dependencies]
# CadQuery setup.py does not declare dependencies if $CONDA_PREFIX is listed,
# so we need to declare them manually.
ocp = "==7.8.1"
vtk = { version = "*", build = "qt*" }
pyparsing = ">=2.1.9"
ezdxf = ">=1.3.0"
ipython = "*"
typing_extensions = "*"
nlopt = "*"
multimethod = ">=1.11,<2.0"
casadi = "*"
typish = "*"
trame = "*"
trame-vtk = "*"


[feature.dev.pypi-dependencies]
cadquery-ocp-stubs = ">=7.7.2.1"
ocp-vscode = ">=2.9.0"
pytest = ">=8.4.1"
pytest-cov = ">=6.2.1"
pytest-benchmark = ">=5.1.0"
build = ">=1.3.0, <2"
scikit-build-core = ">=0.11.6, <0.12"
wheel = ">=0.45.1, <0.46"


[feature.dev.dependencies]
openmc = { version = "==0.15.2", build = "dagmc_nompi*" }
python = "==3.11"
setuptools_scm = ">=9.2.0,<10"
mypy = ">=1.19.1,<2"

[feature.build123d.dependencies]
build123d = ">=0.9.1,<0.10"

[feature.ci.pypi-dependencies]
openmc_data_downloader = "*"

[feature.ci.tasks]
download-xs = "openmc_data_downloader -l ENDFB-7.1-NNDC -i Fe56 Be9"
test = { cmd = "pytest --log-cli-level=INFO --ignore tests/test_examples.py --ignore tests/test_mesh_benchmark.py --ignore tests/test_geometry_cq.py", depends-on = [
    "download-xs",
] }

[environments]
dev = { features = ["dev", "docs", "cadquery", "build123d"] }
docs = { features = ["docs"] }
ci = { features = ["dev", "ci", "cadquery", "build123d"] }
