[workspace]
authors = ["akoen <git@koen.ca>"]
channels = ["conda-forge"]
name = "stellarmesh"
platforms = ["linux-64"]

[dependencies]
python = ">=3.11"
python-gmsh = ">=4"
ocp = ">=7.8"
moab = "*"

[pypi-dependencies]
stellarmesh = { path = ".", editable = true }

[feature.docs.pypi-dependencies]
sphinx-github-style = ">=1.2.2, <2"
sphinx-autobuild = ">=2025.8.25, <2026"
shibuya = "==2026.1.9"
sphinx-tabs = ">=3.4.7, <4"

[feature.docs.dependencies]
sphinx = ">=8.3.0,<9"
nbsphinx = ">=0.9.7,<0.10"

[feature.dev.pypi-dependencies]
cadquery-ocp-stubs = "==7.8.1.1"
ocp-vscode = ">=2.9.0"
pytest = ">=8.4.1"
pytest-cov = ">=6.2.1"
stubgen-pyx = ">=0.1.4, <0.2"
pytest-benchmark = ">=5.1.0"
build = ">=1.3.0, <2"
scikit-build-core = ">=0.11.6, <0.12"
wheel = ">=0.45.1, <0.46"


[feature.dev.dependencies]
openmc = { version = "==0.15.2", build = "dagmc_nompi*" }
python = "==3.11"
build123d = "==0.9.1"
cadquery = "==2.6.1"
setuptools_scm = ">=9.2.0,<10"
mypy = ">=1.19.1,<2"
openmc-plotter = ">=0.5.0,<0.6"
pyvista = ">=0.47.0,<0.48"
trame-vuetify = ">=3.2.1,<4"
nest-asyncio2 = ">=1.7.2,<2"
ipywidgets = ">=8.1.8,<9"


[feature.ci.pypi-dependencies]
openmc_data_downloader = "*"

[feature.ci.tasks]
download-xs = "openmc_data_downloader -l ENDFB-7.1-NNDC -i Fe56 Be9 H2 H3"
test = { cmd = "pytest --log-cli-level=INFO --ignore tests/test_mesh_benchmark.py", depends-on = [
    "download-xs",
] }

[environments]
dev = { features = ["dev", "docs"] }
docs = { features = ["docs"] }
ci = { features = ["dev", "ci"] }
