aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
anytree==2.13.0
asttokens==3.0.0
attrs==25.3.0
black==25.1.0
blinker==1.9.0
build123d==0.9.1
cachetools==5.5.2
cadquery @ git+https://github.com/CadQuery/cadquery.git@2e2db9aebc424e742f716916f0e52e6b4dcc9e71
cadquery-ocp==7.8.1.1.post1
casadi==3.7.1
certifi==2025.8.3
cftime==1.6.4.post1
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
comm==0.2.3
contourpy==1.3.3
coverage==7.10.1
cycler==0.12.1
cython==3.1.2
debugpy==1.8.16
decorator==5.2.1
endf==0.1.4
et-xmlfile==2.0.0
executing==2.2.0
ezdxf==1.4.2
flask==3.1.1
flask-sock==0.7.0
fonttools==4.59.0
frozenlist==1.7.0
gmsh==4.14.0
h11==0.16.0
h5py==3.14.0
idna==3.10
imagesize==1.4.1
iniconfig==2.1.0
ipykernel==6.30.1
ipython==8.37.0
ipython-pygments-lexers==1.1.1
itsdangerous==2.2.0
jedi==0.19.2
jinja2==3.1.6
jupyter-client==8.6.3
jupyter-core==5.8.1
kiwisolver==1.4.8
lxml==6.0.0
markdown-it-py==3.0.0
markupsafe==3.0.2
matplotlib==3.10.5
matplotlib-inline==0.1.7
mdurl==0.1.2
meshio==5.3.5
more-itertools==10.7.0
mpi4py==4.1.0
msgpack==1.1.1
multidict==6.6.3
multimethod==1.12
mypy-extensions==1.1.0
nest-asyncio==1.6.0
netcdf4==1.7.2
nlopt==2.9.1
numpy==2.3.2
ocp-tessellate==3.0.17
ocp-vscode==2.9.0
ocpsvg==0.5.0
openmc @ file:///root/OpenMC/openmc
openpyxl==3.1.5
orjson==3.11.1
packaging==25.0
pandas==2.3.1
parso==0.8.4
path==17.1.1
pathspec==0.12.1
pexpect==4.9.0
pillow==11.3.0
pip==25.2
platformdirs==4.3.8
pluggy==1.6.0
prompt-toolkit==3.0.51
propcache==0.3.2
psutil==7.0.0
ptyprocess==0.7.0
pure-eval==0.2.3
py-lib3mf==2.3.1
pyaml==25.7.0
pygments==2.19.2
pymmg==1.0.0
pymoab==5.5.1
pyparsing==3.2.3
pyperclip==1.9.0
pytest==8.4.1
pytest-cov==6.2.1
python-dateutil==2.9.0.post0
pytz==2025.2
pyyaml==6.0.2
pyzmq==27.0.1
questionary==2.1.0
requests==2.32.4
rich==14.1.0
ruff==0.12.8
scipy==1.16.1
setuptools==80.9.0
simple-websocket==1.1.0
six==1.17.0
stack-data==0.6.3
-e file:///workspaces/stellarmesh
svgelements==1.9.6
svgpathtools==1.7.1
svgwrite==1.4.3
tornado==6.5.1
traitlets==5.14.3
trame==3.11.0
trame-client==3.9.2
trame-common==1.0.1
trame-server==3.6.0
trame-vtk==2.9.1
trianglesolver==1.2
typing-extensions==4.14.1
typish==1.9.3
tzdata==2025.2
uncertainties==3.2.3
urllib3==2.5.0
uv==0.8.6
vtk==9.3.1
wcwidth==0.2.13
webcolors==24.8.0
websockets==13.1
werkzeug==3.1.3
wslink==2.3.4
wsproto==1.2.0
yarl==1.20.1
