-e .
pytest
build123d~=0.9.1

# Pin commit since release version of CadQuery depends on oudated OCP
cadquery @ git+https://github.com/CadQuery/cadquery.git@2e2db9aebc424e742f716916f0e52e6b4dcc9e71

black
ruff
uv
ocp_vscode